{{ define "main" }}
    {{ partial "page-header" . }}

    <div id="head-tags">
        {{ partial "tags.html" . }}
    </div>

    <article class="gdoc-markdown gdoc-markdown__align--{{ default "left" (.Page.Params.GeekdocAlign | lower) }}">
        <h1>{{ partial "title" . }}</h1>
        {{ partial "content" . }}
    </article>
    
{{ end }}
