{{ define "main" }}
    {{ partial "page-header" . }}

    <div id="head-tags">
        {{ partial "tags.html" . }}
    </div>

    <div class="dates">
        <strong>Date de publication : </strong>
        {{ .PublishDate.Format "2006-01-02" }}
    </div>

    <article class="gdoc-markdown gdoc-markdown__align--{{ default "left" (.Page.Params.GeekdocAlign | lower) }}">
        <h1>{{ partial "title" . }}</h1>
        {{ partial "content" . }}
    </article>
    
{{ end }}
