{{ if default true .Site.Params.GeekdocSearch }}
{{ .Scratch.Set "geekdocSearchConfig" .Site.Params.GeekdocSearchConfig }}
<!-- Remove after https://github.com/gohugoio/hugo/issues/6331 -->
{{ $searchJSFile := printf "js/%s.search.js" .Language.Lang }}
{{ $searchJS := resources.Get "js/search.js" | resources.ExecuteAsTemplate $searchJSFile . | resources.Minify | fingerprint }}
<script defer src="{{ $searchJS.RelPermalink }}"></script>
{{ end }}

{{ if default true .Site.Params.GeekdocAnchorCopy }}
<script defer src="{{ index .Site.Data.assets "js/clipboard.min.js" | relURL }}"></script>
<script defer src="{{ index .Site.Data.assets "js/clipboard-loader.min.js" | relURL }}"></script>
{{ end }}

<!-- Matomo - Embedding JS file after load event -->
<!--          CSP hash: sha256-Oj7byVaFtnTXnxkJUhS8WcENCO4gmFgzKQ47r9DQhcU= -->
<script>var _paq = window._paq || [];_paq.push(['trackPageView']);_paq.push(['enableLinkTracking']);function embedTrackingCode(){var u='https://statistiques.adullact.org/';_paq.push(['setTrackerUrl',u+'matomo.php']);_paq.push(['setSiteId','7']);var d=document,g=d.createElement('script'),s=d.getElementsByTagName('script')[0];g.type='text/javascript';g.async=true;g.defer=true;g.src=u+'matomo.js';s.parentNode.insertBefore(g,s);}if(window.addEventListener){window.addEventListener('load',embedTrackingCode,false);}else if(window.attachEvent){window.attachEvent('onload',embedTrackingCode);}else {embedTrackingCode();}</script>
<!-- END Matomo -->
