<footer class="gdoc-footer">
    <div class="container flex flex-wrap">
        {{/*  <span class="gdoc-footer__item">
            Built with <a href="https://gohugo.io/" class="gdoc-footer__link">Hugo</a> and
            <svg class="icon gdoc_heart"><use xlink:href="#gdoc_heart"></use></svg>
        </span>
        {{ with .Site.Params.GeekdocLegalNotice }}
        <span class="gdoc-footer__item">
            <a href="{{ . | relURL }}" class="gdoc-footer__link">Legal Notice</a>
        </span>
        {{ end }}
        {{ with .Site.Params.GeekdocPrivacyPolicy }}
        <span class="gdoc-footer__item">
            <a href="{{ . | relURL }}" class="gdoc-footer__link">Privacy Policy</a>
        </span>
        {{ end }}  */}}

        <span class="gdoc-footer__item">
            <a href="https://adullact.org" class="gdoc-footer__link">adullact.org</a>
        </span>
        <span class="gdoc-footer__item">
            <a href="https://adullact.org/contact" class="gdoc-footer__link">Contact</a>
        </span>
        <span class="gdoc-footer__item">
            <a href="{{ "/61-mentions-legales/" | relURL }}" class="gdoc-footer__link">Mentions légales</a>
        </span>
        <span class="gdoc-footer__item">
            <a href="{{ "/tags/" | relLangURL }}" class="gdoc-footer__link">Tags</a>
        </span>
    </div>
</footer>
