<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
    {{ partial "head/meta" . }}
    <title>Perdu ? Pas de panique.</title>

    {{ partial "head/favicons" . }}
    {{ partial "head/others" . }}
</head>

<body>
    {{ partial "svg-icon-symbols" . }}

    <div class="wrapper">
        {{ partial "site-header" (dict "Root" . "MenuEnabled" false) }}

        <main class="gdoc-error flex-even">
            <div class="flex align-center justify-center">
                <div class="gdoc-error__icon">
                    <svg class="icon gdoc_cloud_off"><use xlink:href="#gdoc_cloud_off"></use></svg>
                </div>
                <div class="gdoc-error__message">
                    <div class="gdoc-error__line gdoc-error__title">Perdu ?</div>
                    <div class="gdoc-error__line gdoc-error__code">Erreur 404</div>
                    <div class="gdoc-error__line gdoc-error__help">
                        Il semble que ce que vous cherchez est introuvable. Ne vous inquiétez pas, 
                        nous pouvons vous ramener à la <a class="gdoc-error__link" href="{{ .Site.BaseURL }}">page d'accueil</a>.
                    </div>
                </div>
            </div>
        </main>

        {{ partial "site-footer" . }}

    </div>
</body>

</html>
