/* You can add custom styles here. */
/* You can add custom styles here. */
/* Global customization */

:root {
    --code-max-height: 60rem;
  }

  /* Light mode theming */
  :root,
  :root[color-mode="light"] {
      --header-background: #468dbac4;

  }

  @media (prefers-color-scheme: light) {
      :root {
        --header-background: #468dbac4;

        }
  }

  /* Dark mode theming */
  :root[color-mode="dark"] {
    --header-background: #468dbac4;

  }

  @media (prefers-color-scheme: dark) {
    :root {
      --header-background: #468dbac4;

    }
  }

  .gdoc_brightness_auto {
    color: black;
  }

  .gdoc_brightness_dark {
    color: white;
  }

  .gdoc_brightness_light {
    color: rgb(244, 205, 96);
  }

  /* Tags */

  #tags-list .tags {
      float: left;
      margin: 0 1em 0.25em 0;
  }

  #head-tags {
    margin-left:1em;
    margin-top:1em;
  }

   .tags a.tag-link {
    display: inline-block;
    line-height: 2em;
    font-size: 0.9em;
    position: relative;
    margin: 0 16px 8px 0;
    padding: 0 10px 0 12px;
    background: #2D5D7B;

    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;

    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    color: #fff;
  }

   .tags a.tag-link:before {
    content: "";
    position: absolute;
    top:0;
    left: -1em;
    width: 0;
    height: 0;
    border-color: transparent #2D5D7B transparent transparent;
    border-style: solid;
    border-width: 1em 1em 1em 0;
  }

   .tags a.tag-link:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 1px;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
    border-radius: 100%;
    background: #fff;
  }

  .dates {
    padding: 0.5em 0 0.5em 0;
  }

/* Barre de recherche */

.gdoc-search__list  {
  border: 1px solid;
  box-shadow: 8px 8px 2px 1px #2d5d7ba1;
}

#gdoc-search-input {
  margin-bottom: 2em;
}

/* Lien "Modifier la page" */
.editpage {
  position: absolute;
  bottom: 0;
  right: 0;
}

