{{ define "main" }}

<article class="gdoc-markdown gdoc-markdown__align--{{ default "left" (.Page.Params.GeekdocAlign | lower) }}">
  <h1>{{ .Title | title }}</h1>

  {{ $taxonomies := index .Site.Taxonomies .Page.Type }}

  {{ range $taxonomies }}
    <div>
      <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
    </div>
  {{ end }}

</article>

{{ end }}
