{{ define "main" }}
  {{ partial "page-header" . }}

  <h1>{{ partial "title" . }}</h1>

<div id="tags-list">
  {{ range (.Paginator 100).Pages.ByTitle }}

        {{ if eq .Kind "term" }}

        <div class="tags gdoc-markdown__align--{{ default "left" (.Page.Params.GeekdocAlign | lower) }}">
          <a class="tag-link" href="{{ .RelPermalink }}">{{ partial "title.html" . }}</a>
        </div>

        {{ else }}

        <div class="gdoc-markdown__align--{{ default "left" (.Page.Params.GeekdocAlign | lower) }}">
          <a href="{{ .RelPermalink }}">{{ partial "title.html" . }}</a>
        </div>

        {{ end }}
  {{ end }}
</div>
{{ end }}
